/*
  IAT 339 with Prof. Andrew Hawryshkewich
  D101 with Elgin-Skye McLaren
  P02: Company

  Josh Fernandez
  Priscilla Skylar Lee
  Heather Maskell

  main.css

  Main reference is from HTML & CSS: Design and Build Websites by Jon Duckett
  Other references will be noted at appropriate sections of this file.
*/






/*************
* BASE RULES
*************/

/* GENERAL */

body {
  background-color: white;
  color: #212121;
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 1rem;
  margin: 1rem;
}

section {
  margin: 2rem 0;
}


/* HEADERS */

h1, h2, h3, h4 {
  font-family: 'Quicksand', Helvetica, sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: .25rem;
}

h3 {
  font-size: 1.25rem;
  margin: 1rem 0;
}

h4 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

/* FOOTER */

#footer{
  background-color: black;
}

#copyright p{
  font-size: 10px;
  margin-right: 0;
  padding-left: 30%;
  color: white;
}

#socialmedia{
  padding-left: 10%;
}

#fb{
  margin-right: 1rem;
}

#twitter{
}

/* TEXT */

p, ol, ul {
  max-width: 40rem;
  margin: 0.5rem 0;
  color: #212121;
}

p {
  line-height: 1.5rem;
}

ol li, ul li {
  margin: 0.25rem 0;
}





/*************
* MODULES
*************/

/* TABLES */

table{
  width: 100%;
}

table, th, td {
  border: .1rem solid #000000;
  border-collapse: collapse;
  text-align: center;
  padding: .5rem;
}

th {
  background-color: #008FD3;
  color:#FFF;
}


/* FIGURES AND IMAGES */

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

figcaption {
  font-style: italic;
  margin: 0;
}

.socialmedia-icon{
  width: 2rem;
  padding-top: 1rem;
}


/* LINKS */

a {
  font-weight: bold;
  color: #F15F23;
  text-decoration: none;
  transition: color 0.5s ease-out;
}

a:active, a:hover, a:focus, a:visited, a:link{
  color: #008FD3;
  text-decoration: none;
  transition: color 0.5s ease-out;
}

.button {
  display: inline-block;
  background-color: #008FD3;
  color: white!important;
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 0.6rem;
  margin: 0.25rem 0.125rem;;
  transition: background-color 0.5s ease-out;
  border-radius: .3rem;
}

.button:active, .button:hover, .button:focus {
  background-color: #43ADE0;
  transition: background-color 0.5s ease-out;
}

.dropbtn{
  background-color: none;
}

/* FORMS */
/*
  Got help from this website to learn about form formatting: https://www.w3schools.com/css/css_form.asp
*/

#search {
    max-height: 30px;
    position: absolute;
    right: 12px;
    top: 20px;
}

input {
  color: black;
  background-color: #008FD3;

  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 1rem;

  border: none;
  padding: 0.4rem 0.5rem;

  background-repeat: no-repeat;
  display: inline-block;

  transition: background-color 0.5s ease-out;
}

input[type=text] {
    width: 7rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    transition: max-width 0.5s ease-out;
}

input[type=text]:placeholder {
  color: #212121;
}

.icon{
  border-style: none;
  background-color: white;
  color: #008FD3;
  transition: color 0.5s ease-out;
}

.icon:hover{
  color: #F15F23;
}

/* NAVIGATION */


.dropdown {
  float: left;
  overflow: hidden;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: #F15F23;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #008FD3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.button-nav {
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 1rem;
  display: inline-block;
  padding: 0.25em 1.6em;
  color: #008FD3;
  text-decoration: none;
}

.button-nav:hover, .button-nav:focus {
  color: #F15F23;
  text-decoration: underline;
}

.nav2{
  display: flex;
}

.nav2-item{
  display: inline-block;
  background-color: #F15F23;
  color: white;
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.25rem;
  transition: background-color 0.5s ease-out;
}

.nav2-item:hover, .nav2-item:focus, .nav2-item:active {
  background-color: #EF7362;
  color: white;
  transition: background-color 0.5s ease-out;
}

.nav2-item a:active{
  background-color: black;
}

/* EVENT LIST  - From Andrew's Week 3 Lab Assignment */

.event-list .event-container p {
  padding: 0.5rem;
  margin: 0 0 0.25rem 0;
  color: white;
}

.event-list .event-container {
  background-color: #a5a5a5;
}

/* GOOGLE MAPS */

.map{
  width: 100%;
  height: 15rem;
}

/* VIDEO */

iframe {
  width: 100%;
  height: 23rem;
}

#menuToggle {
  display: none;
}

input[type=checkbox] {
  display: none;
}

@media (max-width: 1024px){
  #search {
      position: relative;
      left: 83%;
      top: 50px;
  }
}

  @media (max-width: 776px){
    input[type=text] {
      max-width: 6rem;
      margin-left: 0;
    }

    #search {
      padding-right:10px;
      position: absolute;
      right: 0;
      left: initial;
      top: 15px;
      display: inline-block;
      max-height: 30px;
    }

    .dropbtn{
      display: none;
    }

    #logo{
      max-width: 30%;
    }

    input[type=text] {
      width: 100%;
    }

    .button-nav{
      font-family: 'Quicksand', Helvetica, sans-serif;
      font-size: .8rem;
      display: none;
      padding: 0.25em 1.6em;
      font-weight: 100;
    }

    #menuToggle{
      display: block;
      text-decoration: none;
    }

    a:hover, a:visited, a:link, a:active{
      text-decoration: none;
      list-style-type: none;
    }

    #menu{
      padding-left: 0
    }

    #menu .parent-nav {
        font-size: 1rem;
        line-height: 25px;
    }  

    #menu .child-nav{
      font-size: .9rem;
      font-weight: 100;
      position: relative;
      left: 10px;
    }
    
  }

@media (max-width: 450px) {
    #logo{
      max-width: 8rem;
    }
}