/*
  IAT 339 with Prof. Andrew Hawryshkewich
  D101 with Elgin-Skye McLaren
  P02: Company

  Josh Fernandez
  Priscilla Skylar Lee
  Heather Maskell

  main.css

  Main reference is from HTML & CSS: Design and Build Websites by Jon Duckett
  Other references will be noted at appropriate sections of this file.
*/






/*************
* BASE RULES
*************/

/* GENERAL */

body {
  background-color: white;
  color: #212121;
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 1rem;
  margin: 1rem;
}

section {
  margin: 2rem 0;
}


/* HEADERS */

h1, h2, h3, h4 {
  font-family: 'Quicksand', Helvetica, sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: .25rem;
}

h3 {
  font-size: 1.25rem;
  margin: 1rem 0;
}

h4 {
  font-size: 1rem;
  margin: 0.5rem 0rem;
}

/* FOOTER */

#footer{
  background-color: black;
  padding: 0 1rem;
}

#copyright p{
  font-size: 0.75rem;
  /* margin-right: 10px; */
  color: white;
}

#copyright{
  /* max-width: 50%; */
}

#socialmedia{
  /* padding-left: 10%; */
  /* max-width: 50%; */
}

#fb{
  /* margin-right: 1rem; */
}

#twitter{
}

/* TEXT */

p, ol, ul {
  max-width: 40rem;
  margin: 0.5rem 0;
  color: #212121;
}

p {
  line-height: 1.5rem;
}

ol li, ul li {
  margin: 0.25rem 0;
}





/*************
* MODULES
*************/

/* TABLES */

table{
  width: 100%;
}

table, th, td {
  border: .1rem solid #000000;
  border-collapse: collapse;
  text-align: center;
  padding: .5rem;
}

th {
  background-color: #008FD3;
  color:#FFF;
}


/* FIGURES AND IMAGES */

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

figcaption {
  font-style: italic;
  margin: 0;
}

.socialmedia-icon{
  width: 2rem;
  padding-top: 1rem;
}


/* LINKS */

a {
  font-weight: bold;
  color: #008FD3;
  text-decoration: none;
  transition: color 0.5s ease-out;
}

a:active, a:hover, a:focus{
  color: #F15F23;
  text-decoration: none;
  transition: color 0.5s ease-out;
}

.button {
  display: inline-block;
  background-color: #008FD3;
  color: white!important;
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 0.6rem;
  margin: 0.25rem 0.125rem;;
  transition: background-color 0.5s ease-out;
  border-radius: .3rem;
}

.button:active, .button:hover, .button:focus {
  background-color: #43ADE0;
  transition: background-color 0.5s ease-out;
}

/* FORMS */
/*
  Got help from this website to learn about form formatting: https://www.w3schools.com/css/css_form.asp
*/

#search {
    max-height: 30px;
    position: absolute;
    right: 12px;
    top: 20px;
    transition: 0.4s;
}

input {
  color: black;
  background-color: #008FD3;

  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 1rem;

  border: none;
  padding: 0.4rem 0.5rem;

  background-repeat: no-repeat;
  display: inline-block;

  transition: background-color 0.5s ease-out;
}

input[type=text], textarea {
    width: 7rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    transition: max-width 0.5s ease-out;
}

input[type=text]::placeholder {
  color: #212121;
}

textarea {
  width: 100%;
  height: 6rem;
}

.icon{
  border-style: none;
  background-color: white;
  color: #008FD3;
  transition: color 0.5s ease-out;
}

.icon:hover{
  color: #F15F23;
}

#contact {
  margin-bottom: 3rem;
}

#contact input[type=submit] {
  display: block;
  font-weight: bold;
}

#contact input[type=text], textarea{
  margin-bottom: .5rem;
  width: 100%;
}

/* NAVIGATION */

.button-nav {
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 1rem;
  display: inline-block;
  padding: 0.25em 1.6em;
  color: #008FD3;
  text-decoration: none;
}

.button-nav:hover, .button-nav:focus {
  color: #F15F23;
  text-decoration: underline;
}

.nav2{
  display: flex;
}

.nav2-item{
  display: inline-block;
  background-color: #F15F23;
  color: white;
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.25rem;
  transition: background-color 0.5s ease-out;
}

.nav2-item:hover, .nav2-item:focus, .nav2-item:active {
  background-color: #EF7362;
  color: white;
  transition: background-color 0.5s ease-out;
}

.nav2-item a:active{
  background-color: black;
}
