/*
  IAT 339 with Prof. Andrew Hawryshkewich
  D101 with Elgin-Skye McLaren
  P02: Company

  Josh Fernandez
  Priscilla Skylar Lee
  Heather Maskell

  extras.css

  Main reference is from HTML & CSS: Design and Build Websites by Jon Duckett
  Other references will be noted at appropriate sections of this file.
*/


/* EVENT LIST  - From Andrew's Week 3 Lab Assignment */

.event-list .event-container {
  padding: 2%;
  background-color: #ffffff;
  border-color: #d6d6d6;
  border-width: 1px;
  border-style: solid;
  margin: 5px 0;

}

/* .event-list .event-container:active, .event-container:hover, .event-container:focus h4{
  color: #008FD3;
} */

/* GOOGLE MAPS */

.map{
  width: 100%;
  height: 250px;
}


/* VIDEO */

iframe {
  width: 100%;
  height: 23rem;
}

#menuToggle {
  display: none;
}

input[type=checkbox] {
  display: none;
}


/* NAVIGATION - DROP-DOWN */

.dropbtn{
  /*background-color: none;*/
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: #008FD3;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #008FD3;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: normal;
  font-size: 0.8rem;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 4px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 4px;
}


/* MEDIA QUERIES FOR THE DROP-DOWN MENU */

@media (max-width: 1024px){

  .button-nav {
      
  }

  .afterdropdown {
      
  }

  .dropbtn .button-nav{
    padding-right: 0;
  }

  #menuToggle{
    display: none;
  }

  #logo{
    max-width: 30%;
  }


  #navbar{
   
  }

}

@media (max-width: 776px){

  #events-and-scheduling{
    padding-left: 0;
  }

  .h2-special:nth-of-type(1){
    margin-top: 1rem;
  }

  #search input[type=text] {
    max-width: 6rem;
    margin-left: 0;
  }

  /* https://www.w3schools.com/howto/howto_css_menu_icon.asp */

  #hamburger{
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 18px;
    transition: 0.4s;
  }

  .ham{
    width: 20px;
    height: 3px;
    background-color: #008FD3;
    margin: 4px 0;
    transition: 0.4s;
  }

  .ham :hover{
    background-color: #F15F23;
  }

  /* Rotate first bar */
  .change #ham-1 {
      -webkit-transform: rotate(-45deg) translate(-4px, 5px);
      transform: rotate(-45deg) translate(-4px, 5px);
  }

  /* Fade out the second bar */
  .change #ham-2 {
      -webkit-transform: translate(30px, 0px) scale(0.2, 1.4);
      transform: ttranslate(30px, 0px) scale(0.2, 1.4);
      opacity: 0;
  }

  /* Rotate last bar */
  .change #ham-3 {
      -webkit-transform: rotate(45deg) translate(-5px, -6px);
      transform: rotate(45deg) translate(-5px, -6px);
  }

  #search {
    padding-right:10px;
    position: absolute;
    right: 50px;
    left: initial;
    top: 15px;
    display: inline-block;
    max-height: 30px;
    cursor: pointer;
  }

  .dropbtn{
    display: none;
    transition: 0.4s;
  }

  #logo{
    max-width: 30%;
    transition: 0.4s;
  }

  #search input[type=text] {
    width: 100%;
  }

  .button-nav{
    font-family: 'Quicksand', Helvetica, sans-serif;
    font-size: .8rem;
    display: none;
    padding: 0.25em 1.6em;
    font-weight: 100;
  }


  .dropbtn .button-nav{
    padding-right: 0;
  }

  #menuToggle{
    text-decoration: none;
    transition: 0.4s;
    background-color: #FEFEFE;
    padding-top: 0;
  }

  a{
    color: #008FD3;
  }

  a:hover{
    color: #F15F23;
  }

  a:hover, a:visited, a:active, a:link, a:focus{
    text-decoration: none;
    list-style-type: none;
  }

  #menu{
    padding-left: 0;
    line-height: 22px;
  }

  #menu li{
    padding-left: 6%;
  }

  #menu .parent-nav {
      font-size: .9rem;

  }

  #menu .child-nav{
    font-size: .8rem;
    font-weight: 100;
    position: relative;
    left: 10px;
  }

  .mobile-nav-section{
    border-width: 0 0 0.5px 0;
    border-style: solid;
    border-color: #d6d6d6;
  }

  #mobile-nav-top{
    border-width: 0.5px 0 0.5px 0;
    border-style: solid;
    border-color: #d6d6d6;
  }

  #contact input[type=text], textarea{
    margin-bottom: .5rem;
    width: 100%;
  }

}

@media (max-width: 450px) {
    #logo{
      max-width: 8rem;
    }

    #events-and-scheduling{
      padding-left: 0;
    }

    .h2-special:nth-of-type(1){
      margin-top: 1rem;
    }
}

@media (max-width: 340px) {
    #search{
      top: 50px;
    }

    #hamburger{
      top: 50px;
    }

    #events-and-scheduling{
      padding-left: 0;
    }

    .h2-special:nth-of-type(1){
      margin-top: 1rem;
    }
}
