/*
  IAT 339 with Prof. Andrew Hawryshkewich
  D101 with Elgin-Skye McLaren
  P02: Company

  Josh Fernandez
  Priscilla Skylar Lee
  Heather Maskell

  fonts.css
*/

@font-face {
  font-family: 'Quicksand', sans-serif;
}

@font-face {
  font-family: 'Quicksand-Medium', sans-serif;
}

@font-face {
  font-family: 'Quicksand-Bold', sans-serif;
}
