/*
  IAT 339 with Prof. Andrew Hawryshkewich
  D101 with Elgin-Skye McLaren
  P02: Company

  Josh Fernandez
  Priscilla Skylar Lee
  Heather Maskell

  main.css

  Main reference is from HTML & CSS: Design and Build Websites by Jon Duckett
  Other references will be noted at appropriate sections of this file.
*/






/*************
* BASE RULES
*************/

/* GENERAL */

body {
  background-color: white;
  color: #212121;
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 1rem;
  margin: 1rem;
}

section {
  /*margin: 2rem 0;*/
}

header{
  margin-bottom: 1rem;
}

#events-and-scheduling{
  padding-left: 1rem;
}

#quick-contact{
  padding: 2rem 0;
}

#citations a, #citation p{
    display: block;
    padding: 0 0 1.5rem .5rem;
}

#citations h3{
    padding: 1.5rem 0 1rem;
}

#citations{
  margin-bottom: 1rem;
}

/* HEADERS */

h1, h2, h3, h4 {
  font-family: 'Quicksand', Helvetica, sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.h2-special{
  margin-bottom: 0;
}

.h2-special:nth-of-type(1){
  margin-top: 0;
}

h3 {
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #212121;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  margin: 0.5rem 0rem;
}

/* FOOTER */

#footer{
  background-color: black;
  padding: 0 1rem 0 1rem;
  position: relative;
  bottom: 0;
}

#footer-links{
  margin-top: 1rem;
}

#footer-links a{
  margin: 1rem 1rem 0;
  font-size: .8rem;
}

#socialmedia, #footer-text {
  display: inline-block;
  width: 100%;
  text-align: left;
}

#copyright p{
  font-size: 0.75rem;
  margin: 1rem;
  /* margin-right: 10px; */
  color: white;
}

/* TEXT */

p, ol, ul {
  max-width: 40rem;
  margin: 0 0 1rem 0;
  color: #212121;
}

.event-list p{
  margin: 0 0 0.5rem 0;
  line-height: 1.5rem;
}

.event-container p{
  font-weight: normal;
}

@media (min-width: 1120px){
  .exec p{
    padding-left:1rem;
  }

  .about p{
    padding-left:1rem;
  }
}


p {
  line-height: 1.5rem;
  padding-right: .5rem;
  margin: 0 0 1rem 0;
}

ol li, ul li {
  margin: 0.25rem 0 0.75rem 0;
}

#quick-contact p{
  max-width: 30%;
  margin: 1.5rem auto;
}

/*************
* MODULES
*************/

/* TABLES */

table{
  width: 100%;
  margin: 0 0 2rem 0;
}

table, th, td {
  border: .1rem solid #000000;
  border-collapse: collapse;
  text-align: center;
  padding: .5rem;
}

th {
  background-color: #008FD3;
  color:#FFF;
}


/* FIGURES AND IMAGES */

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0 0 2.25rem 0;
}


figcaption {
  font-style: italic;
  margin: 0.5rem 0 .75rem 0;
}

.socialmedia-icon{
  width: 2.5rem;
  margin: 1.2rem .5rem 0 .5rem;
  opacity: 0.5;
}

.socialmedia-icon:hover{
  transition: opacity 0.3s ease-out;
  opacity: 0.75;
}

/* Align items centre if below the breakpoint where the grid-col splits ( I don't know what px this is.. I'm using 1024px as a guesstimate)
>>I think the issue is with p max Width being 40px.

@media (max-width: 1024px){
  .socialmedia-icon{
    width: 2.5rem;
    margin-left:auto;
    margin-right:auto;
  }

  #copyright p{
    text-align: center;
  }
}
*/

/* LINKS */

a {
  font-weight: bold;
  color: #008FD3;
  text-decoration: none;
  transition: color 0.4s ease-out;
}

a:active, a:hover, a:focus{
  color: #F15F23;
  text-decoration: none;
  transition: color 0.4s ease-out;
}

.button {
  display: inline-block;
  background-color: #008FD3;
  color: white!important;
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 0.6rem;
  margin: 0.25rem 0.125rem;;
  transition: background-color 0.5s ease-out;
  border-radius: .3rem;
}

.button:active, .button:hover, .button:focus {
  background-color: #43ADE0;
  transition: background-color 0.4s ease-out;
}

#quick-contact .button{
  display: block;
  margin: 1rem 0;
}

/* FORMS */
/*
  Got help from this website to learn about form formatting: https://www.w3schools.com/css/css_form.asp
*/

form input {
  color: black;
  background-color: #008FD3;

  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 1rem;

  border: none;
  padding: 0.4rem 0.5rem;

  background-repeat: no-repeat;
  display: inline-block;

  transition: background-color 0.4s ease-out;
}

form input[type=text]{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    background-color: #f8f8f8;
    transition: background-color 0.4s ease-out;
}

form input[type=text]:active,
form input[type=text]:hover,
form input[type=text]:focus {
    background-color: white;
    transition: background-color 0.4s ease-out;
}

form input[type=text]::placeholder {
  color: #212121;
}

form textarea { /* Got help from https://www.w3schools.com/Css/css_form.asp */
  display: block;
  width: 100%;
  height: 6rem;
  padding: 0.4rem 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  transition: background-color 0.4s ease-out;
  resize: none;
}

form textarea:active,
form textarea:hover,
form textarea:focus {
    background-color: white;
    transition: background-color 0.4s ease-out;
}

form textarea::placeholder {
  color: #212121;
}

.icon{
  border-style: none;
  background-color: white;
  color: #008FD3;
  transition: color 0.4s ease-out;
  top: 3px;
  position: relative;
}

.icon:hover{
  color: #F15F23;
}

#search {
    position: absolute;
    right: 0.5rem;
    top: 1.8rem;
    transition: 0.4s;
}

#search input {
  width: 80%;
  font-size:.8rem;
}

.contact {
  margin-bottom: 3rem;
}

/* NAVIGATION */

.button-nav {
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 1rem;
  display: inline-block;
  padding: 0.25em 1.6em;
  color: #008FD3;
  text-decoration: none;
}

.dropbtn .button-nav{
  padding-right: .1rem;
}

.button-nav:hover, .button-nav:focus {
  color: #F15F23;
  text-decoration: none;
}

.nav2{
  display: flex;
}

.nav2-item{
  display: inline-block;
  background-color: #F15F23;
  color: white;
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  margin: .5rem 0 1rem 0;
  transition: opacity 0.3s ease-out;
}

.nav2-item:hover, .nav2-item:focus, .nav2-item:active {
  opacity: .75;
  color: white;
}

.nav2-item a:active{
  background-color: black;
}
