.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 6;
  grid-row: 1;
  background-color: #333333;
  padding: 2.5rem;
  color: #FFF;
  text-align: center;
}
.two {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
  background-color: #008FD3;
  padding: 5rem;
  color: #FFF;
  text-align: center;
}
.three {
  grid-column: 4 / 6;
  grid-row: 2 / 4;
  background-color: #F15F23;
  padding: 5rem;
  color: #FFF;
  text-align: center;
}
.four {
  grid-column: 1 / 6;
  grid-row: 4;
  background-color: #333333;
  padding: 2.5rem;
  color: #FFF;
  text-align: center;
}
.five {
  grid-column: 1 / 2;
  grid-row: 5;
  background-color: #F15F23;
  padding: 5rem;
  color: #FFF;
  text-align: center;
}
.six {
  grid-column: 2 / 4;
  grid-row: 5;
  background-color: #008FD3;
  padding: 5rem;
  color: #FFF;
  text-align: center;
}

.seven{
  grid-column: 4 / 6;
  grid-row: 5;
  background-color: #333333;
  padding: 5rem;
  color: #FFF;
  text-align: center;
}
